@page "/rooms"
@using Objects

<PageTitle>Помещения</PageTitle>
<h2>Помещения в ТЦ "Галерея Краснодар"</h2>
<table 
    style='border-spacing: 20px;
    border-collapse: separate;'>
        @for (int i = 0; i < 3; i++)
        {
            <tr>
            @for (int j = 0; j < 3; j++)
            {
                <th>
                <div class='card' style='width: 18rem;
                                         background-color: rgba(66, 135, 245, 0.05);'>
                    <img class='card-img-top' src=@rooms[i].ImgSrc alt='Card image cap'>
                    <div class='card-body'>
                        <h5 class='card-title'>@rooms[i].Type @coworking.Area кв.м.</h5>
                            @if (@rooms[i].Tenant != null)
                            {
                                <h6 class='card-title'>@rooms[i].Tenant</h6>
                                <ul class='list-group list-group-flush'>
                                <p class='card-text'
                                   style='style='background-color: rgba(224, 179, 81, 0.2)'>
                                   Заметка: провести внеплановый техосмотр в связи с жалобой.
                               </p>
                                <li class='list-group-item'>
                                    @if (@rooms[i].HasExpiredPayments == true)
                                    {
                                        <p>Есть неоплаченные счета</p>
                                    }
                                    else
                                    {
                                        <p>Платит аренду: @rooms[i].MonthlyRent</p>
                                    }
                                </li>
                                <li class='list-group-item'>Контракт истекает: 01.12.2023</li>
                                </ul>
                                <div class='card-body'> 
                                    <a href=@rooms[i].Link>
                                        <button type='button' class='btn btn-outline-primary'>Перейти к управлению</button>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <h5 class="text-success">Помещение свободно</h5>
                                <div class='card-body'> 
                                    <a href=@rooms[i].Link>
                                        <button type='button' class='btn btn-outline-success'>Перейти к управлению</button>
                                    </a>
                                </div>
                            }
                            
                    </div>                    
                </div>
            </th>
            }
            </tr>
        }
</table>


@code {
    private Room coworking = new Room() { Id = 1, Area = 50.5, Tenant = "Никита Ващенко", Type = "Коворкинг",  
                                      HasExpiredPayments = true, 
                                      ImgSrc = "https://www.mime.asia/wp-content/uploads/2019/09/1.-Top-Reasons-Why-Coworking-Spaces-Work-for-You.jpg",
                                      MonthlyRent = 400000, Link = "/coworking"};

    private Room coffeeshop = new Room() { Id = 1, Area = 50.5, Tenant = null, Type = "Кофейня",  
                                      HasExpiredPayments = true, 
                                      ImgSrc = "https://media.istockphoto.com/id/1286692956/photo/empty-cafe-interior-with-chairs-and-tables.jpg?b=1&s=170667a&w=0&k=20&c=1Ik8m-G8BdfuChRbh5bvk9iH7XfEutzfEogjhCIk-as=",
                                      MonthlyRent = 400000, Link = "/coffeeshop"};

    private Room apartment = new Room() { Id = 1, Area = 50.5, Tenant = "Никита Ващенко", Type = "Апартаменты",  
                                      HasExpiredPayments = false,  
                                      ImgSrc = "https://www.aveliving.com/AVE/media/Property_Images/Florham%20Park/hero/flor-apt-living-(2)-hero.jpg?ext=.jpg",
                                      MonthlyRent = 400000, Link = "/apartment"};
    private List<Room> rooms = new List<Room> ();

    protected override void OnInitialized()
    {
        rooms = new List<Room> { coffeeshop, coworking, apartment };
    }
    
}